In [1]:
import sys, os
sys.path.append(os.pardir)
import module.refinement as rm
import module.result as rs
import pandas as pd
import numpy as np
import datetime as dt
import module.category as cg

# read data from csv file
videos= pd.read_csv('../youtube-new/FRvideos.csv')
language = 'French'
nation='FR'

In [2]:
type(videos['publish_time'][0])

str

In [3]:
rm.retypeDate(videos)

In [4]:
type(videos['publish_time'][0])

datetime.date

# refinement

In [5]:
len(videos)

40724

In [6]:
rm.dropColumns(videos)

In [7]:
videos.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed'],
      dtype='object')

In [8]:
min_publish_time = min(videos['publish_time'])
max_publish_time = max(videos['publish_time'])
print(min_publish_time)
print(max_publish_time)

2009-03-22
2018-06-14

In [9]:
min_trending_date = min(videos['trending_date'])
max_trending_date = max(videos['trending_date'])
print(min_trending_date)
print(max_trending_date)

2017-11-14
2018-06-14

In [10]:
rm.dropRows_dates(videos, 'publish_time',min_trending_date, max_publish_time)

In [11]:
min_publish_time = min(videos['publish_time'])
max_publish_time = max(videos['publish_time'])
print(min_publish_time)
print(max_publish_time)

2017-11-14
2018-06-14

In [12]:
min_trending_date = min(videos['trending_date'])
max_trending_date = max(videos['trending_date'])
print(min_trending_date)
print(max_trending_date)

2017-11-15
2018-06-14

In [13]:
len(videos)

40370

# predict

In [14]:
predict_data = cg.info_category()
predict_data

                    category_TITLE
category_ID
1                 Film & Animation
2                 Autos & Vehicles
10                           Music
15                  Pets & Animals
17                          Sports
19                 Travel & Events
20                          Gaming
22                  People & Blogs
23                          Comedy
24                   Entertainment
25                 News & Politics
26                   Howto & Style
27                       Education
28            Science & Technology
29           Nonprofits & Activism
30                          Movies
43                           Shows
44                        Trailers

In [15]:
predict_data.index[0]

1

In [16]:
len(predict_data.index)

18

In [17]:
predict_data.index[17]

44

In [18]:
(videos['category_id']).value_counts()

24    9741
22    5665
23    4300
17    4297
10    3907
25    3731
26    2345
1     2146
20    1442
28     791
27     758
2      667
15     237
19     117
29     114
43      99
30      11
44       2
Name: category_id, dtype: int64

In [19]:
videos.sort_values(by=['publish_time', 'video_id', 'trending_date'])

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed
103,-A-hfXFTYso,2017-11-15,New York Knicks : c'est l'heure d'y croire !,TrashTalkProduction,17,2017-11-14,19088,1334,6,120,https://i.ytimg.com/vi/-A-hfXFTYso/default.jpg,False,False,False
116,-SYd0f2cPfk,2017-11-15,Projet custom mob Café Racer à vario,Tomahawktuning,2,2017-11-14,4617,453,7,107,https://i.ytimg.com/vi/-SYd0f2cPfk/default.jpg,False,False,False
99,-Vcb8DljiBI,2017-11-15,Paris-Turf TV - 100 % Quinté - 15/11/2017,Paris-Turf TV,17,2017-11-14,12026,31,7,5,https://i.ytimg.com/vi/-Vcb8DljiBI/default.jpg,False,False,False
271,-oC4H_Mg2eE,2017-11-16,Le 15' du BTP - 00,Construction Cayola,28,2017-11-14,16674,5,0,0,https://i.ytimg.com/vi/-oC4H_Mg2eE/default.jpg,False,False,False
301,0-tCIevF_hM,2017-11-16,Tariq Ramadan : « Tu t’es déjà touchée en pens...,Salim Laibi,25,2017-11-14,29861,0,0,0,https://i.ytimg.com/vi/0-tCIevF_hM/default.jpg,True,True,False
425,0-tCIevF_hM,2017-11-17,Tariq Ramadan : « Tu t’es déjà touchée en pens...,Salim Laibi,25,2017-11-14,38594,0,0,0,https://i.ytimg.com/vi/0-tCIevF_hM/default.jpg,True,True,False
76,0F2euYl6G5c,2017-11-15,Dieudonné Les Médias Spectacle Complet,Racheal Morrison,27,2017-11-14,36696,316,29,55,https://i.ytimg.com/vi/0F2euYl6G5c/default.jpg,False,False,False
55,0HEuEcR6azo,2017-11-15,Omour Jedia S02 Episode 10 14-11-2017 Partie 02,Elhiwar Ettounsi,24,2017-11-14,52920,291,47,57,https://i.ytimg.com/vi/0HEuEcR6azo/default.jpg,False,False,False
218,0HEuEcR6azo,2017-11-16,Omour Jedia S02 Episode 10 14-11-2017 Partie 02,Elhiwar Ettounsi,24,2017-11-14,138022,657,87,82,https://i.ytimg.com/vi/0HEuEcR6azo/default.jpg,False,False,False
45,3Bi-wUJs89M,2017-11-15,LE PLUS GROS PROJET DE MA CHAINE,PRINCE,20,2017-11-14,58168,8699,41,693,https://i.ytimg.com/vi/3Bi-wUJs89M/default.jpg,False,False,False
803,3qqMNgfaNao,2017-11-19,Le paradoxe de Robin des Bois | Fabrice de Bon...,TEDx Talks,29,2017-11-14,5093,205,1,10,https://i.ytimg.com/vi/3qqMNgfaNao/default.jpg,False,False,False
83,458JeQt9XEY,2017-11-15,Vanille s'tape l'incruste chez Julien Tanti : ...,Non Stop Reality,22,2017-11-14,2410,41,0,0,https://i.ytimg.com/vi/458JeQt9XEY/default.jpg,False,False,False
56,4qip39qYNlE,2017-11-15,"Les vacances des Anges 2 – Episode 57, Vidéo d...",kat sloan,22,2017-11-14,9516,29,7,4,https://i.ytimg.com/vi/4qip39qYNlE/default.jpg,False,False,False
93,5530I_pYjbo,2017-11-15,How I Trained My Cats,JunsKitchen,26,2017-11-14,977285,87620,391,5575,https://i.ytimg.com/vi/5530I_pYjbo/default.jpg,False,False,False
21,5hEJsoDP2q4,2017-11-15,Justice League | “Come Together” | Todrick Hal...,todrickhall,24,2017-11-14,113963,11577,155,635,https://i.ytimg.com/vi/5hEJsoDP2q4/default.jpg,False,False,False
239,5hEJsoDP2q4,2017-11-16,Justice League | “Come Together” | Todrick Hal...,todrickhall,24,2017-11-14,209442,19069,289,836,https://i.ytimg.com/vi/5hEJsoDP2q4/default.jpg,False,False,False
118,8jLheO9-oBc,2017-11-15,"PRINCESSE Caleçon pete Ep1,Lava,Makambo,Baby,...",topvision1,1,2017-11-14,15746,186,7,114,https://i.ytimg.com/vi/8jLheO9-oBc/default.jpg,False,False,False
101,9KqtguPzNGk,2017-11-15,Je n'ai pas besoin d'homme dans ma vie !,Alexandre CORMONT (officiel),26,2017-11-14,5790,332,10,43,https://i.ytimg.com/vi/9KqtguPzNGk/default.jpg,False,False,False
1,9swYq83jffs,2017-11-15,Pranque : Le serveur amnésique,Greg Guillotin - Nou,23,2017-11-14,527677,38597,416,1422,https://i.ytimg.com/vi/9swYq83jffs/default.jpg,False,False,False
498,Ae7rZuR9oBw,2017-11-17,Equipe d'Algérie : Rabah Madjer - Maamar Djebb...,ALGERIE Football,17,2017-11-14,49407,78,19,84,https://i.ytimg.com/vi/Ae7rZuR9oBw/default.jpg,False,False,False
88,Ak-tsxFFo5A,2017-11-15,ESSAYEZ DE NE PAS ÊTRE SATISFAIT #24 (La Vidéo...,Mr.Olivier,24,2017-11-14,5983,122,15,30,https://i.ytimg.com/vi/Ak-tsxFFo5A/default.jpg,False,False,False
69,ClytthbhuNQ,2017-11-15,ملاسنات كلامية كبيرة وخطيرة بين ماجر وصحفي بعد...,SCARFACE King,22,2017-11-14,24136,85,35,121,https://i.ytimg.com/vi/ClytthbhuNQ/default.jpg,False,False,False
121,CtBca6H6Teg,2017-11-15,Honest Trailers - Batman Forever,Screen Junkies,1,2017-11-14,829132,25111,316,3428,https://i.ytimg.com/vi/CtBca6H6Teg/default.jpg,False,False,False
14,D137aeWoCSU,2017-11-15,Frères d'Armes - Warrior feat Zesau,Freres d'armes Officiel,10,2017-11-14,7457,523,6,11,https://i.ytimg.com/vi/D137aeWoCSU/default.jpg,False,False,False
227,D137aeWoCSU,2017-11-16,Frères d'Armes - Warrior feat Zesau,Freres d'armes Officiel,10,2017-11-14,27020,1081,71,59,https://i.ytimg.com/vi/D137aeWoCSU/default.jpg,False,False,False
27,DII4hxSNXXE,2017-11-15,La France à l'agonie,Boris Le Lay,25,2017-11-14,12131,1251,112,594,https://i.ytimg.com/vi/DII4hxSNXXE/default.jpg,False,False,False
22,E8U8rZhmGQg,2017-11-15,مباراة الجزائر 3 - 0 افريقيا الوسطى (كاملة )...,هنا الجزائر / بث مباشر 2,17,2017-11-14,122509,990,147,69,https://i.ytimg.com/vi/E8U8rZhmGQg/default.jpg,False,False,False
63,EiYtc-AVXdc,2017-11-15,Frank Ntilikina 7 pts 2 asts 6 stls vs Cavs 17...,Zarychta Highlights,17,2017-11-14,10083,62,2,93,https://i.ytimg.com/vi/EiYtc-AVXdc/default.jpg,False,False,False
73,F2MGNXj8HLo,2017-11-15,How the Right Politicized Roy Moore's Sexual M...,The Daily Show with Trevor Noah,23,2017-11-14,1059267,21327,476,2119,https://i.ytimg.com/vi/F2MGNXj8HLo/default.jpg,False,False,False
51,FEfWvaEsJao,2017-11-15,Meurtre au Val de l'Aurence à Limoges,lepopulaire.fr,25,2017-11-14,1960,2,1,0,https://i.ytimg.com/vi/FEfWvaEsJao/default.jpg,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40364,mSJ_Qb9-WtA,2018-06-14,Simon Cowell Falls In LOVE With 'Ms. Trysh' Bu...,Talent Recap,24,2018-06-13,560827,8688,147,696,https://i.ytimg.com/vi/mSJ_Qb9-WtA/default.jpg,False,False,False
40334,niKln6fWWrY,2018-06-14,The Youth Board Asks #1 – How Does The Report ...,Supercell,29,2018-06-13,640996,10105,1034,1961,https://i.ytimg.com/vi/niKln6fWWrY/default.jpg,False,False,False
40324,npnk_mqpp5I,2018-06-14,FACE à FACE - Ep 19 - | رشيد الادريسي | - HD ...,CHADA TV,24,2018-06-13,80241,0,0,295,https://i.ytimg.com/vi/npnk_mqpp5I/default.jpg,False,True,False
40367,nt25ec7nzIM,2018-06-14,UN ANIME EXPLOSIF A VOIR ABSOLUMENT !,RushManga,22,2018-06-13,47510,4601,61,615,https://i.ytimg.com/vi/nt25ec7nzIM/default.jpg,False,False,False
40172,o0JZkxmAeDk,2018-06-14,Combat mon frere vs Ismael et Maga assassin v...,IbraPlus,17,2018-06-13,895020,46850,2576,4444,https://i.ytimg.com/vi/o0JZkxmAeDk/default.jpg,False,False,False
40234,pP9fQZsstIg,2018-06-14,محمد باسو يطلب من العشابي توقيف عندي مايفيد وي...,Télé Maroc,22,2018-06-13,266267,5534,311,1030,https://i.ytimg.com/vi/pP9fQZsstIg/default.jpg,False,False,False
40253,q9UOB1PqLnY,2018-06-14,السلسلة الفكاهية الدرب : الحلقة 27 | Derb : Ep...,CHANNEL-TV,22,2018-06-13,98806,896,104,93,https://i.ytimg.com/vi/q9UOB1PqLnY/default.jpg,False,False,False
40194,qBVyz491EH4,2018-06-14,Equipe de France : Deuxième entraînement à Ist...,Fédération Française de Football,17,2018-06-13,154674,4271,58,271,https://i.ytimg.com/vi/qBVyz491EH4/default.jpg,False,False,False
40204,qLM1NA272v0,2018-06-14,حصري/ شاهد ماذا فعل مشجعون مغاربة بتركي آل شيخ...,Elbotola,17,2018-06-13,179322,1890,346,2229,https://i.ytimg.com/vi/qLM1NA272v0/default.jpg,False,False,False
40183,qrpK_8F_hUA,2018-06-14,États-Unis : sur la route - L’Effet Papillon –...,L'Effet Papillon,24,2018-06-13,48873,907,20,223,https://i.ytimg.com/vi/qrpK_8F_hUA/default.jpg,False,False,False
40252,r63VBOagGAo,2018-06-14,Shawn Mendes x Portugal (FPF Official World Cu...,FPFutebolOficial,17,2018-06-13,653114,65635,547,3819,https://i.ytimg.com/vi/r63VBOagGAo/default.jpg,False,False,False
40315,ra6FeSRKoLY,2018-06-14,DEFI DIY 50.000 Abos !!!!,Les Freres Poulain,28,2018-06-13,23101,1953,20,955,https://i.ytimg.com/vi/ra6FeSRKoLY/default.jpg,False,False,False
40310,sLJPNt1h9Q0,2018-06-14,Lopetegui viré par l'Espagne à cause du Real M...,Foot Mercato,17,2018-06-13,107857,4277,76,317,https://i.ytimg.com/vi/sLJPNt1h9Q0/default.jpg,False,False,False
40173,t2-jVwN-ilg,2018-06-14,COUPE DU MONDE 2018 : J'VEUX CRIER BUT,Golden Moustache,23,2018-06-13,344286,34133,1651,1345,https://i.ytimg.com/vi/t2-jVwN-ilg/default.jpg,False,False,False
40343,tAjzJVlxTf0,2018-06-14,L'EMISSION Spécial Ramadan - EP 20 Partie 2,Attessia TV,24,2018-06-13,26933,219,20,38,https://i.ytimg.com/vi/tAjzJVlxTf0/default.jpg,False,False,False
40175,uKoAA6bpKOU,2018-06-14,عضو مغربي يفجرها تعرضنا للخيانة من دول عربية و...,Sports Live HD Maroc,17,2018-06-13,555947,3549,486,3550,https://i.ytimg.com/vi/uKoAA6bpKOU/default.jpg,False,False,False
40359,uTGsMan-6Ss,2018-06-14,NCT 미니게임천국 #3: 최강 손가락 컨트롤러 (Professional Finge...,SMTOWN,10,2018-06-13,261128,32078,91,2021,https://i.ytimg.com/vi/uTGsMan-6Ss/default.jpg,False,False,False
40188,vgOwSGr1pBc,2018-06-14,رد فعل مغربي على خسارة المغرب في تنظيم كأس الع...,Jamal Alpha,17,2018-06-13,197812,11649,519,3471,https://i.ytimg.com/vi/vgOwSGr1pBc/default.jpg,False,False,False
40328,wih66ycKktI,2018-06-14,الماغودي يررد ويوجه كلام في الصميم الى الدول ا...,TV جديد اليوم,17,2018-06-13,154374,2685,89,826,https://i.ytimg.com/vi/wih66ycKktI/default.jpg,False,False,False
40201,wrZiBRj_vKs,2018-06-14,Top 7 des raisons d'acheter notre cahier de va...,Topito,24,2018-06-13,139950,9931,314,3446,https://i.ytimg.com/vi/wrZiBRj_vKs/default.jpg,False,False,False
40298,wwNlgM8Eg0A,2018-06-14,رامز تحت الصفر | أحمد آدم لـ رامز جلال : قلبي ...,Ramez Galal,23,2018-06-13,220267,1697,116,309,https://i.ytimg.com/vi/wwNlgM8Eg0A/default.jpg,False,False,False
40174,xC1s_wdNww0,2018-06-14,ÉPISODES DU JOUR #20 (VF),JiGé II,1,2018-06-13,63074,651,129,75,https://i.ytimg.com/vi/xC1s_wdNww0/default.jpg,False,False,False
40292,xxdeCkvzB5Y,2018-06-14,"Naayagi Episode 98, 13/06/18",VikatanTV,43,2018-06-13,720600,4303,709,627,https://i.ytimg.com/vi/xxdeCkvzB5Y/default.jpg,False,False,False
40353,yerrtSj1fF4,2018-06-14,Le tardigrade est l'animal le plus indestructi...,Brut,25,2018-06-13,14324,561,7,137,https://i.ytimg.com/vi/yerrtSj1fF4/default.jpg,False,False,False
40184,yo4PAQIwjWY,2018-06-14,Dumbo - Première bande-annonce (VF),Disney FR,1,2018-06-13,86092,3151,70,196,https://i.ytimg.com/vi/yo4PAQIwjWY/default.jpg,False,False,False
40316,z9BDS6s5Cw4,2018-06-14,BTS (방탄소년단) - JIMIN &JUNGKOOK - Black Or Whit...,2018 BTS FESTA,22,2018-06-13,270925,32621,76,1521,https://i.ytimg.com/vi/z9BDS6s5Cw4/default.jpg,False,False,False
40195,zauQhWWpa0s,2018-06-14,مسلسل رحيم الحلقة 29 التاسعة والعشرون - بطولة ...,Egyptian Arts Group,24,2018-06-13,1039201,8003,681,2045,https://i.ytimg.com/vi/zauQhWWpa0s/default.jpg,False,False,False
40314,DMttycms7Qw,2018-06-14,الإعلامي معتز مطر يشكر الجزائر من أجل المغرب ش...,Best News Dz,22,2018-06-14,40410,1408,25,379,https://i.ytimg.com/vi/DMttycms7Qw/default.jpg,False,False,False
40220,nBfJVvqNoJ0,2018-06-14,مسلسل أيوب بطولة مصطفى شعبان – الحلقة الثامنة ...,AlHayah TV Network,24,2018-06-14,1170894,9827,792,1548,https://i.ytimg.com/vi/nBfJVvqNoJ0/default.jpg,False,False,False
40272,vUALE5SitT0,2018-06-14,BLACKPINK - ‘뚜두뚜두 (DDU-DU DDU-DU)’ M/V TEASER,BLACKPINK,22,2018-06-14,2619135,494495,2935,69911,https://i.ytimg.com/vi/vUALE5SitT0/default.jpg,False,False,False

In [20]:
len(np.unique(videos['video_id']))

30285

In [21]:
counts_by_video_id = videos['video_id'].value_counts()
print(type(counts_by_video_id))
# counts_by_video_id

<class 'pandas.core.series.Series'>

In [22]:
df_counts = pd.DataFrame((counts_by_video_id).value_counts())
df_counts

   video_id
1     22746
2      5485
3      1619
4       379
5        55
6         1

In [23]:
df_counts['count'] = df_counts.index*df_counts['video_id']
df_counts

   video_id  count
1     22746  22746
2      5485  10970
3      1619   4857
4       379   1516
5        55    275
6         1      6

In [24]:
print('총 비디오 데이터 수',sum(df_counts['count']))
sum(df_counts['count']) == len(videos)

총 비디오 데이터 수 40370

True

In [25]:
print('총 비디오 수',sum(df_counts['video_id']))
sum(df_counts['video_id']) == len(np.unique(videos['video_id']))

총 비디오 수 30285

True

In [26]:
len(videos[videos['trending_date']==videos['publish_time']])

944

In [27]:
tmp = (videos[videos['trending_date']==videos['publish_time']])
tmp.reset_index(inplace=True, drop=True)
tmp

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed
0,Ehke7aPI9l0,2017-11-15,Kurt Angle & The Shield lead a Raw raid of Sma...,WWE,17,2017-11-15,612569,29520,641,5099,https://i.ytimg.com/vi/Ehke7aPI9l0/default.jpg,False,False,False
1,jKkOYEW7RvQ,2017-11-17,Golden State Warriors vs Boston Celtics Full G...,MLG Highlights,17,2017-11-17,685641,8971,398,4995,https://i.ytimg.com/vi/jKkOYEW7RvQ/default.jpg,False,False,False
2,BMn2TThOTG0,2017-11-19,BERCY 2017 avec Youssou NDour LIVE HD,Sunu Tele Senegal,10,2017-11-19,122910,1401,143,17,https://i.ytimg.com/vi/BMn2TThOTG0/default.jpg,False,False,False
3,h4WBA4ldBw8,2017-11-19,RETOUR DANS LE CHÂTEAU LE PLUS HANTÉ DE FRANCE...,PARANORMAL TRAVEL,22,2017-11-19,3694,371,22,5,https://i.ytimg.com/vi/h4WBA4ldBw8/default.jpg,False,False,False
4,H2t4SNJqZM4,2017-11-21,Elhiwar Ettounsi Live Stream - بث مباشر,Labes Ettounsia,24,2017-11-21,21777,120,15,0,https://i.ytimg.com/vi/H2t4SNJqZM4/default.jpg,False,False,False
5,oLEqa-wrK0M,2017-11-25,IX CAMPEONATO MUNDIAL SUB-22 TRINQUETE ARGENTI...,FIPV,17,2017-11-25,7545,51,6,2,https://i.ytimg.com/vi/oLEqa-wrK0M/default.jpg,False,False,False
6,wUSC1loP9Hg,2017-11-26,IX CAMPEONATO MUNDIAL SUB-22 TRINQUETE ARGENTI...,FIPV,17,2017-11-26,9784,70,6,0,https://i.ytimg.com/vi/wUSC1loP9Hg/default.jpg,False,False,False
7,ZMP0qYjEay8,2017-11-27,AS Monaco - Paris Saint-Germain (1-2) - Résum...,Ligue 1 Conforama,17,2017-11-27,67527,1338,44,141,https://i.ytimg.com/vi/ZMP0qYjEay8/default.jpg,False,False,False
8,8mJ2Oo7kKE4,2017-11-30,Entretien de François Asselineau en direct sur...,Union Populaire Républicaine Officiel,25,2017-11-30,19405,1445,45,23,https://i.ytimg.com/vi/8mJ2Oo7kKE4/default.jpg,False,False,False
9,DpXl0ktVqvA,2017-12-06,"Johnny Hallyday est mort, retour sur sa carrière",BFMTV,25,2017-12-06,24985,577,25,290,https://i.ytimg.com/vi/DpXl0ktVqvA/default.jpg,False,False,False
10,g6DM2ROEcEw,2017-12-06,TF1 - Interruption des Programmes du 6 Décembr...,RicePlay33,25,2017-12-06,1486,117,7,54,https://i.ytimg.com/vi/g6DM2ROEcEw/default.jpg,False,False,False
11,jtYHAa62TYU,2017-12-06,🔨 Les Vacances des Anges 2 (Replay) - Episode ...,Les Anges - La chaîne officielle,22,2017-12-06,6356,262,6,58,https://i.ytimg.com/vi/jtYHAa62TYU/default.jpg,False,False,False
12,mS_idPcW86g,2017-12-06,LIVE DRAGON BALL & DRAGON BALL SUPER (Avec Gon...,DBTimes,24,2017-12-06,18292,920,25,6,https://i.ytimg.com/vi/mS_idPcW86g/default.jpg,False,False,False
13,NX_BDh-5oDk,2017-12-08,ON ENLÈVE LA ROULETTE ! (Swan the Voice & Néo),Aurelien Fontenoy,17,2017-12-08,22712,2545,295,388,https://i.ytimg.com/vi/NX_BDh-5oDk/default.jpg,False,False,False
14,REVcFIV_vT0,2017-12-08,JE RISQUE MA VIE EN VTT TRIAL ! - Ft Aurélien ...,Néo The One,24,2017-12-08,25560,3014,181,365,https://i.ytimg.com/vi/REVcFIV_vT0/default.jpg,False,False,False
15,9v_rtaye2yY,2017-12-08,"Migos, Nicki Minaj, Cardi B - MotorSport",MigosVEVO,10,2017-12-08,601001,67460,987,10252,https://i.ytimg.com/vi/9v_rtaye2yY/default.jpg,False,False,False
16,dyBFAX4SDEc,2017-12-08,The Legend of Zelda: Breath of the Wild - Expa...,Nintendo,20,2017-12-08,448143,25365,195,4586,https://i.ytimg.com/vi/dyBFAX4SDEc/default.jpg,False,False,False
17,x_viaHeJRiA,2017-12-11,Olympique de Marseille - AS Saint-Etienne (3-0...,Ligue 1 Conforama,17,2017-12-11,53557,1119,50,90,https://i.ytimg.com/vi/x_viaHeJRiA/default.jpg,False,False,False
18,k59dNYxjLps,2017-12-11,Savoir répondre pour avoir raison - Vlogmas 11,FabienOlicard,24,2017-12-11,12391,1367,16,83,https://i.ytimg.com/vi/k59dNYxjLps/default.jpg,False,False,False
19,CMiJrAabFpk,2017-12-11,FIFA 18 FUT CHAMPION - ELITE ENCORE A PORTÉE D...,robert 87000,20,2017-12-11,42893,2537,128,15,https://i.ytimg.com/vi/CMiJrAabFpk/default.jpg,False,False,False
20,oISxgk8BTYs,2017-12-14,RC Strasbourg Alsace - Paris Saint-Germain (2-...,Coupe de la Ligue,17,2017-12-14,12164,349,22,23,https://i.ytimg.com/vi/oISxgk8BTYs/default.jpg,False,False,False
21,ljpPtgCJ6sE,2017-12-14,VOUS ALLEZ MOURIR DE RIRE (YTP),Panormal,20,2017-12-14,36056,4452,55,201,https://i.ytimg.com/vi/ljpPtgCJ6sE/default.jpg,False,False,False
22,GyWOMP8eLeI,2017-12-14,Comment trouver le courage de dire non ? - QDV#07,David Laroche France,26,2017-12-14,2920,290,2,32,https://i.ytimg.com/vi/GyWOMP8eLeI/default.jpg,False,False,False
23,3BXDsVD6O10,2017-12-15,Eminem - River (Audio) ft. Ed Sheeran,EminemVEVO,10,2017-12-15,490558,114468,1228,13565,https://i.ytimg.com/vi/3BXDsVD6O10/default.jpg,False,False,False
24,btDj0vYbQwc,2017-12-16,COMMENT FAIRE DU NISKA ? - LA RECETTE #7 - MASKEY,Maskey,23,2017-12-16,214698,34357,134,2291,https://i.ytimg.com/vi/btDj0vYbQwc/default.jpg,False,False,False
25,bGEJrWt3QMk,2017-12-16,🔨 Les Vacances des Anges 2 (Replay) - Episode ...,Les Anges - La chaîne officielle,22,2017-12-16,7716,440,17,101,https://i.ytimg.com/vi/bGEJrWt3QMk/default.jpg,False,False,False
26,8hiFh_SsI30,2017-12-17,Découvrez qui a été élue Miss France 2018 ! za...,LMDLT Le Meilleur de la télévison,24,2017-12-17,7278,122,13,87,https://i.ytimg.com/vi/8hiFh_SsI30/default.jpg,False,False,False
27,tueaEOorop8,2017-12-18,Olympique Lyonnais - Olympique de Marseille (2...,Ligue 1 Conforama,17,2017-12-18,47720,1503,98,325,https://i.ytimg.com/vi/tueaEOorop8/default.jpg,False,False,False
28,lBSWqTlSdyQ,2017-12-18,Lyon 2-0 OM Frustration : Le debrief de Bengous,Bengous Oueskon Va,23,2017-12-18,11225,796,75,208,https://i.ytimg.com/vi/lBSWqTlSdyQ/default.jpg,False,False,False
29,RIj1oHawZcg,2017-12-18,15 Signes Que Ton Téléphone a Eté Piraté,SYMPA,22,2017-12-18,7613,818,28,69,https://i.ytimg.com/vi/RIj1oHawZcg/default.jpg,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,FtWXMm_cDNU,2018-06-10,IL analyse TOUT MON CORPS ! Ft Nassim,Karoline.Ro,17,2018-06-10,21075,1648,70,231,https://i.ytimg.com/vi/FtWXMm_cDNU/default.jpg,False,False,False
915,SLT0BUoBk9c,2018-06-10,مسلسل جرح الورد ـ الحلقة 25 الخامسة والعشرون ك...,Golden Line for TV Production and Distribution,22,2018-06-10,287828,2599,282,795,https://i.ytimg.com/vi/SLT0BUoBk9c/default.jpg,False,False,False
916,ZqWRDbqTUPA,2018-06-10,مباراة البرازيل والنمسا كاملة,SaMsUnG KoRa,17,2018-06-10,272078,6636,363,10,https://i.ytimg.com/vi/ZqWRDbqTUPA/default.jpg,False,False,False
917,q7oiwnXNnH8,2018-06-10,PINCE A RESSORT ! Crash Test 3D !!,Les Freres Poulain,28,2018-06-10,17783,1463,7,83,https://i.ytimg.com/vi/q7oiwnXNnH8/default.jpg,False,False,False
918,64UX1npgRkI,2018-06-10,Sanju: Kar Har Maidaan Fateh | Ranbir Kapoor |...,T-Series,10,2018-06-10,4852789,174930,4499,13464,https://i.ytimg.com/vi/64UX1npgRkI/default.jpg,False,False,False
919,GPMRzygH2lQ,2018-06-10,SKAM FRANCE EP.12 S2 : Dimanche 15h19 - Merci ...,france tv slash,24,2018-06-10,16122,917,6,57,https://i.ytimg.com/vi/GPMRzygH2lQ/default.jpg,False,False,False
920,Rqe26NTW1z8,2018-06-10,لحظة وصول المنتخب المغربي لمقر إقامته في روسيا...,Sports Live HD Maroc,17,2018-06-10,105926,965,32,152,https://i.ytimg.com/vi/Rqe26NTW1z8/default.jpg,False,False,False
921,5J0pShXbWx4,2018-06-10,Miraculous Ladybug: TROUBLEMAKER - OFFICIAL TR...,ThePowers3000,22,2018-06-10,202051,8294,92,1827,https://i.ytimg.com/vi/5J0pShXbWx4/default.jpg,False,False,False
922,kL56WfQ81YE,2018-06-10,Sen. Feinstein: Big mistake not to sign G7 agr...,CNN,25,2018-06-10,126863,1259,375,2415,https://i.ytimg.com/vi/kL56WfQ81YE/default.jpg,False,False,False
923,HD6kLSifv0c,2018-06-10,WESH : Landy !,Booska-P.com,24,2018-06-10,36433,2374,57,188,https://i.ytimg.com/vi/HD6kLSifv0c/default.jpg,False,False,False
924,LQxPe4N0Iis,2018-06-10,STAR STABLE LIVE!,Star Stable,20,2018-06-10,80617,6241,120,379,https://i.ytimg.com/vi/LQxPe4N0Iis/default.jpg,False,False,False
925,13bx0pmzqWg,2018-06-10,أجواء العيد اسهل بلاطويات 7اشكال جديد حلويات ا...,SOUMA سومة,27,2018-06-10,70296,4424,187,470,https://i.ytimg.com/vi/13bx0pmzqWg/default.jpg,False,False,False
926,PGkqFAKOqh4,2018-06-11,قناة القران الكريم | بث مباشر 🔴 | Makkah 🔴 Liv...,Quran Voice,27,2018-06-11,120340,1521,148,14,https://i.ytimg.com/vi/PGkqFAKOqh4/default.jpg,False,False,False
927,zNPuxddchag,2018-06-11,كريم الغربي ضيف رمضان شو,Mosaique FM,25,2018-06-11,29061,609,55,158,https://i.ytimg.com/vi/zNPuxddchag/default.jpg,False,False,False
928,zXYJTkHNZm4,2018-06-11,الحزايرية شو : محمد رغيس، مالك يعقوب ، إيناس ع...,El Djazairia One,25,2018-06-11,34986,1060,39,494,https://i.ytimg.com/vi/zXYJTkHNZm4/default.jpg,False,False,False
929,Pj1h55qt2jo,2018-06-11,قناة مكة - القران الكريم - مباشر Quran Makkah...,mp3quran Website,27,2018-06-11,85969,0,0,14,https://i.ytimg.com/vi/Pj1h55qt2jo/default.jpg,False,True,False
930,9gaaXtfXFSA,2018-06-11,عكس كل التوقعات: هذا أول أيام عيد الفطر وعيد ا...,Akhbar Maghribiya,25,2018-06-11,17564,202,65,15,https://i.ytimg.com/vi/9gaaXtfXFSA/default.jpg,False,False,False
931,xrZwP-91nZ8,2018-06-11,انا وياك 2 حلقة 25 -الخاوة-,Mohamed Khassani,22,2018-06-11,59591,2362,130,490,https://i.ytimg.com/vi/xrZwP-91nZ8/default.jpg,False,False,False
932,PPWDwBrUNyY,2018-06-12,"YouTube Live at E3 2018: Monday with Ninja, Ma...",gameslice,20,2018-06-12,3483553,23725,3145,462,https://i.ytimg.com/vi/PPWDwBrUNyY/default.jpg,False,False,False
933,2AWF_dyfoOw,2018-06-12,قناة القران الكريم | بث مباشر 🔴 | Makkah 🔴 Liv...,Quran Voice,27,2018-06-12,108270,1432,96,5,https://i.ytimg.com/vi/2AWF_dyfoOw/default.jpg,False,False,False
934,RLiX7PjWZOs,2018-06-12,Présentation de PlayStation au salon E3 2018 |...,PlayStation,20,2018-06-12,70653,1587,123,33,https://i.ytimg.com/vi/RLiX7PjWZOs/default.jpg,False,False,False
935,UCu58T-STtw,2018-06-13,مصطفى غير هاك خبطوه بخطية ب 100 مليون في المحك...,Ennahar tv,25,2018-06-13,32309,187,189,149,https://i.ytimg.com/vi/UCu58T-STtw/default.jpg,False,False,False
936,FWir5FFmUAg,2018-06-13,قناة القران الكريم | بث مباشر 🔴 | Makkah 🔴 Liv...,Quran Voice,27,2018-06-13,88067,1231,85,3,https://i.ytimg.com/vi/FWir5FFmUAg/default.jpg,False,False,False
937,Nw-BMNnr1Ko,2018-06-13,Trump Meets Kim Jong-un: A Closer Look,Late Night with Seth Meyers,23,2018-06-13,439302,8805,384,1543,https://i.ytimg.com/vi/Nw-BMNnr1Ko/default.jpg,False,False,False
938,RluCcKgnsyk,2018-06-13,المغرب 2026 مواطن كويتي و“الخيانة السعودية الع...,Captain Majid,17,2018-06-13,46427,4561,117,1042,https://i.ytimg.com/vi/RluCcKgnsyk/default.jpg,False,False,False
939,5VE89JLNIwo,2018-06-13,ريم غزالي تكشف عن معاناتها مع أنس تينا و انسحا...,Laazhar Tube,10,2018-06-13,34040,505,93,336,https://i.ytimg.com/vi/5VE89JLNIwo/default.jpg,False,False,False
940,hAT-lYVgLtk,2018-06-13,قناة مكة - القران الكريم - مباشر Quran Makkah...,mp3quran Website,27,2018-06-13,64694,0,0,11,https://i.ytimg.com/vi/hAT-lYVgLtk/default.jpg,False,True,False
941,nBfJVvqNoJ0,2018-06-14,مسلسل أيوب بطولة مصطفى شعبان – الحلقة الثامنة ...,AlHayah TV Network,24,2018-06-14,1170894,9827,792,1548,https://i.ytimg.com/vi/nBfJVvqNoJ0/default.jpg,False,False,False
942,vUALE5SitT0,2018-06-14,BLACKPINK - ‘뚜두뚜두 (DDU-DU DDU-DU)’ M/V TEASER,BLACKPINK,22,2018-06-14,2619135,494495,2935,69911,https://i.ytimg.com/vi/vUALE5SitT0/default.jpg,False,False,False
943,DMttycms7Qw,2018-06-14,الإعلامي معتز مطر يشكر الجزائر من أجل المغرب ش...,Best News Dz,22,2018-06-14,40410,1408,25,379,https://i.ytimg.com/vi/DMttycms7Qw/default.jpg,False,False,False

In [28]:
tmp.index # index : 0~943

RangeIndex(start=0, stop=944, step=1)

In [29]:
tmp.loc[943] # last data

video_id                                                        DMttycms7Qw
trending_date                                                    2018-06-14
title                     الإعلامي معتز مطر يشكر الجزائر من أجل المغرب ش...
channel_title                                                  Best News Dz
category_id                                                              22
publish_time                                                     2018-06-14
views                                                                 40410
likes                                                                  1408
dislikes                                                                 25
comment_count                                                           379
thumbnail_link               https://i.ytimg.com/vi/DMttycms7Qw/default.jpg
comments_disabled                                                     False
ratings_disabled                                                      False
video_error_or_removed                                                False
Name: 943, dtype: object

In [30]:
len(tmp)

944

# 모델링 - video의 총 누적 view의 평균

In [31]:
len(videos)

40370

In [32]:
len(np.unique(videos['video_id']))

30285

In [33]:
videos_view = pd.DataFrame(np.unique(videos['video_id']), columns=['video_id'])
videos_view.head(3)

      video_id
0  --2K8l6BWfw
1  --728h8mnDY
2  --8-sr76Haw

In [34]:
n = len(videos_view)
print(n)
category_id = []
total_views=[]
trending_dates = []
publish_time = []
last_trending_date = []
for i in range(n):
#     print(i)
    videos_by_video_id = videos[videos['video_id']==videos_view['video_id'][i]]
    category_id.append(videos_by_video_id['category_id'].values[0])
    total_views.append(max(videos_by_video_id['views']))
    trending_dates.append(len(videos_by_video_id))
    publish_time.append((videos_by_video_id['publish_time'].values[0]))
    last_trending_date.append(max(videos_by_video_id['trending_date']))
videos_view['category_id'] = category_id
videos_view['total_views'] = total_views
videos_view['trending_dates'] = trending_dates
videos_view['publish_time'] = publish_time
videos_view['last_trending_date'] = last_trending_date

videos_view

30285

,video_id,category_id,total_views,trending_dates,publish_time,last_trending_date
0,--2K8l6BWfw,15,4822,1,2018-03-05,2018-03-06
1,--728h8mnDY,26,39535,2,2017-12-05,2017-12-07
2,--8-sr76Haw,20,6980,1,2018-05-08,2018-05-09
3,--DqT_lWyEU,27,14992,1,2018-06-04,2018-06-05
4,--FcOKEq9gU,26,8354,1,2018-03-31,2018-04-01
5,--I0aj8MUdU,24,97528,1,2018-02-04,2018-02-05
6,--MtKsH5oBY,17,511042,2,2018-05-31,2018-06-01
7,--e9VIRwttw,1,145683,2,2018-05-02,2018-05-04
8,--f8_ou_vTA,26,7742,1,2018-05-03,2018-05-04
9,--kg-rEYqSI,2,10923,1,2018-05-03,2018-05-04
10,--yNosdyM4c,24,415257,1,2018-04-04,2018-04-05
11,-0-tZvykkA0,24,28880,1,2018-06-08,2018-06-09
12,-00L3P74_mg,10,14184,1,2018-02-22,2018-02-23
13,-01MUE3GK7U,10,18107,2,2018-01-11,2018-01-13
14,-0BFYLEfalg,24,62918,1,2018-04-25,2018-04-26
15,-0H6tlSzP9M,25,494874,1,2018-05-28,2018-05-29
16,-0OrGpL_JyE,17,277792,1,2018-02-12,2018-02-14
17,-1-qbpZ-N3U,17,46753,1,2017-12-25,2017-12-26
18,-1Hm41N0dUs,23,1006049,1,2018-04-27,2018-04-28
19,-1P8sUUQHgI,25,65967,1,2018-06-08,2018-06-09
20,-1XX-QK0MxU,25,8695,1,2018-02-20,2018-02-21
21,-1deY-WoGLE,22,28005,1,2018-01-05,2018-01-07
22,-1g_VtQmqxI,17,339698,1,2018-01-20,2018-01-21
23,-25t7axr0Js,24,107893,1,2018-05-26,2018-05-27
24,-29G-bi5C4I,24,10686,1,2018-01-05,2018-01-06
25,-2FPnNaiAqE,24,104092,3,2017-12-11,2017-12-14
26,-2NteVJplLk,23,17224,1,2018-05-06,2018-05-07
27,-2crwgODH8o,2,15124,1,2018-04-06,2018-04-07
28,-2dR_Kei2nI,23,2029,1,2017-11-22,2017-11-28
29,-2e8TnIUBSA,24,21279,1,2018-02-02,2018-02-03
...,...,...,...,...,...,...
30255,zvSKwwYYySY,23,1560088,4,2018-01-15,2018-01-19
30256,zvUxn-WCkhk,24,928281,1,2018-06-11,2018-06-12
30257,zvW3hMWG-BQ,25,109247,1,2018-05-03,2018-05-05
30258,zvXXZ3UUsVQ,26,3576,1,2018-02-27,2018-02-28
30259,zvhBMYTivOQ,26,9449,1,2017-12-28,2017-12-29
30260,zvom-ITd_Fs,22,872982,2,2018-05-06,2018-05-08
30261,zvuv1KtV0As,25,41613,1,2018-05-29,2018-05-30
30262,zwCkKPNAItY,25,4913,1,2018-01-01,2018-01-02
30263,zwD8ilgOlaY,20,19362,1,2017-12-27,2017-12-29
30264,zwSb6Gtl6BU,28,10516,1,2018-03-26,2018-03-28
30265,zwaKw542kHk,1,179573,1,2018-01-03,2018-01-04
30266,zwfTtqtRXjI,22,129702,1,2018-06-09,2018-06-10
30267,zwuoY1L-6RU,17,13928,1,2017-12-10,2017-12-11
30268,zx936BNZRms,24,625432,3,2018-05-28,2018-05-31
30269,zxK2XXHbDRA,24,49492,2,2018-02-13,2018-02-15
30270,zxQMsoC1FBA,26,174740,2,2018-04-17,2018-04-19
30271,zxwfDlhJIpw,22,5434079,2,2018-05-01,2018-05-03
30272,zyCNj9L5kWY,25,77492,1,2018-05-22,2018-05-23
30273,zyFrNZKAYCk,17,1561268,1,2018-03-03,2018-03-04
30274,zyOLIVyBqc4,25,838323,1,2018-05-25,2018-05-26
30275,zycRFTif1TQ,24,11297,1,2017-11-18,2017-11-20
30276,zyeLmzVelAA,24,37772,1,2017-12-05,2017-12-06
30277,zzEcKV-2B4I,24,21068,1,2017-11-15,2017-11-17
30278,zzF7MQZHKSs,22,2731,1,2017-11-20,2017-11-21
30279,zzNlSHFLQ7Y,17,323179,2,2018-05-07,2018-05-09
30280,zzQkQLAA-38,24,13368,1,2018-04-22,2018-04-23
30281,zzUd5maVREY,24,384704,3,2018-02-13,2018-02-16
30282,zzrPbAUv34s,24,3174,1,2018-03-03,2018-03-04
30283,zztX9Vs1JDc,26,3439,1,2018-03-30,2018-03-31
30284,zzz0_5fMnI8,25,19190,1,2017-12-16,2017-12-17

In [35]:
videos_view['days'] = videos_view['last_trending_date'] - videos_view['publish_time'] + dt.timedelta(1)
videos_view

,video_id,category_id,total_views,trending_dates,publish_time,last_trending_date,days
0,--2K8l6BWfw,15,4822,1,2018-03-05,2018-03-06,2 days
1,--728h8mnDY,26,39535,2,2017-12-05,2017-12-07,3 days
2,--8-sr76Haw,20,6980,1,2018-05-08,2018-05-09,2 days
3,--DqT_lWyEU,27,14992,1,2018-06-04,2018-06-05,2 days
4,--FcOKEq9gU,26,8354,1,2018-03-31,2018-04-01,2 days
5,--I0aj8MUdU,24,97528,1,2018-02-04,2018-02-05,2 days
6,--MtKsH5oBY,17,511042,2,2018-05-31,2018-06-01,2 days
7,--e9VIRwttw,1,145683,2,2018-05-02,2018-05-04,3 days
8,--f8_ou_vTA,26,7742,1,2018-05-03,2018-05-04,2 days
9,--kg-rEYqSI,2,10923,1,2018-05-03,2018-05-04,2 days
10,--yNosdyM4c,24,415257,1,2018-04-04,2018-04-05,2 days
11,-0-tZvykkA0,24,28880,1,2018-06-08,2018-06-09,2 days
12,-00L3P74_mg,10,14184,1,2018-02-22,2018-02-23,2 days
13,-01MUE3GK7U,10,18107,2,2018-01-11,2018-01-13,3 days
14,-0BFYLEfalg,24,62918,1,2018-04-25,2018-04-26,2 days
15,-0H6tlSzP9M,25,494874,1,2018-05-28,2018-05-29,2 days
16,-0OrGpL_JyE,17,277792,1,2018-02-12,2018-02-14,3 days
17,-1-qbpZ-N3U,17,46753,1,2017-12-25,2017-12-26,2 days
18,-1Hm41N0dUs,23,1006049,1,2018-04-27,2018-04-28,2 days
19,-1P8sUUQHgI,25,65967,1,2018-06-08,2018-06-09,2 days
20,-1XX-QK0MxU,25,8695,1,2018-02-20,2018-02-21,2 days
21,-1deY-WoGLE,22,28005,1,2018-01-05,2018-01-07,3 days
22,-1g_VtQmqxI,17,339698,1,2018-01-20,2018-01-21,2 days
23,-25t7axr0Js,24,107893,1,2018-05-26,2018-05-27,2 days
24,-29G-bi5C4I,24,10686,1,2018-01-05,2018-01-06,2 days
25,-2FPnNaiAqE,24,104092,3,2017-12-11,2017-12-14,4 days
26,-2NteVJplLk,23,17224,1,2018-05-06,2018-05-07,2 days
27,-2crwgODH8o,2,15124,1,2018-04-06,2018-04-07,2 days
28,-2dR_Kei2nI,23,2029,1,2017-11-22,2017-11-28,7 days
29,-2e8TnIUBSA,24,21279,1,2018-02-02,2018-02-03,2 days
...,...,...,...,...,...,...,...
30255,zvSKwwYYySY,23,1560088,4,2018-01-15,2018-01-19,5 days
30256,zvUxn-WCkhk,24,928281,1,2018-06-11,2018-06-12,2 days
30257,zvW3hMWG-BQ,25,109247,1,2018-05-03,2018-05-05,3 days
30258,zvXXZ3UUsVQ,26,3576,1,2018-02-27,2018-02-28,2 days
30259,zvhBMYTivOQ,26,9449,1,2017-12-28,2017-12-29,2 days
30260,zvom-ITd_Fs,22,872982,2,2018-05-06,2018-05-08,3 days
30261,zvuv1KtV0As,25,41613,1,2018-05-29,2018-05-30,2 days
30262,zwCkKPNAItY,25,4913,1,2018-01-01,2018-01-02,2 days
30263,zwD8ilgOlaY,20,19362,1,2017-12-27,2017-12-29,3 days
30264,zwSb6Gtl6BU,28,10516,1,2018-03-26,2018-03-28,3 days
30265,zwaKw542kHk,1,179573,1,2018-01-03,2018-01-04,2 days
30266,zwfTtqtRXjI,22,129702,1,2018-06-09,2018-06-10,2 days
30267,zwuoY1L-6RU,17,13928,1,2017-12-10,2017-12-11,2 days
30268,zx936BNZRms,24,625432,3,2018-05-28,2018-05-31,4 days
30269,zxK2XXHbDRA,24,49492,2,2018-02-13,2018-02-15,3 days
30270,zxQMsoC1FBA,26,174740,2,2018-04-17,2018-04-19,3 days
30271,zxwfDlhJIpw,22,5434079,2,2018-05-01,2018-05-03,3 days
30272,zyCNj9L5kWY,25,77492,1,2018-05-22,2018-05-23,2 days
30273,zyFrNZKAYCk,17,1561268,1,2018-03-03,2018-03-04,2 days
30274,zyOLIVyBqc4,25,838323,1,2018-05-25,2018-05-26,2 days
30275,zycRFTif1TQ,24,11297,1,2017-11-18,2017-11-20,3 days
30276,zyeLmzVelAA,24,37772,1,2017-12-05,2017-12-06,2 days
30277,zzEcKV-2B4I,24,21068,1,2017-11-15,2017-11-17,3 days
30278,zzF7MQZHKSs,22,2731,1,2017-11-20,2017-11-21,2 days
30279,zzNlSHFLQ7Y,17,323179,2,2018-05-07,2018-05-09,3 days
30280,zzQkQLAA-38,24,13368,1,2018-04-22,2018-04-23,2 days
30281,zzUd5maVREY,24,384704,3,2018-02-13,2018-02-16,4 days
30282,zzrPbAUv34s,24,3174,1,2018-03-03,2018-03-04,2 days
30283,zztX9Vs1JDc,26,3439,1,2018-03-30,2018-03-31,2 days
30284,zzz0_5fMnI8,25,19190,1,2017-12-16,2017-12-17,2 days

In [36]:
result_data = cg.info_category()
result_data

                    category_TITLE
category_ID
1                 Film & Animation
2                 Autos & Vehicles
10                           Music
15                  Pets & Animals
17                          Sports
19                 Travel & Events
20                          Gaming
22                  People & Blogs
23                          Comedy
24                   Entertainment
25                 News & Politics
26                   Howto & Style
27                       Education
28            Science & Technology
29           Nonprofits & Activism
30                          Movies
43                           Shows
44                        Trailers

In [37]:
stats = pd.DataFrame([], index=result_data.index)
stats

Empty DataFrame
Columns: []
Index: [1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 43, 44]

In [43]:
sum_views=[]
count_videos=[]
mean_views=[]
sum_trending_dates=[]
for i in result_data.index:
    video = videos_view[videos_view['category_id']==i]
    sum_views.append(sum(video['total_views']))
    count_videos.append(len(video))
    mean_views.append(np.mean(video['total_views']))
    sum_trending_dates.append(sum(video['trending_dates']))
stats['mean_views'] = mean_views
stats['sum_views'] = sum_views
stats['count_videos'] = count_videos
stats['sum_trending_dates'] = sum_trending_dates
stats

               mean_views   sum_views  count_videos  sum_trending_dates
category_ID
1            3.634483e+05   598235933          1646                2146
2            6.078259e+04    35618600           586                 667
10           1.125336e+06  2651291836          2356                3906
15           1.643618e+05    32050554           195                 237
17           4.023150e+05  1366663953          3397                4297
19           5.558227e+04     5280316            95                 117
20           2.473243e+05   267110237          1080                1445
22           1.911408e+05   878483088          4596                5668
23           3.728420e+05   955594121          2563                4299
24           3.438323e+05  2590088614          7533                9738
25           1.183898e+05   363101380          3067                3731
26           1.783772e+05   335349083          1880                2345
27           1.270053e+05    70614941           556                 757
28           3.976210e+05   208751019           525                 792
29           3.327489e+05    34605887           104                 114
30           1.011413e+05     1011413            10                  11
43           5.219139e+05    49581819            95                  98
44           9.804000e+03        9804             1                   2

In [46]:
result_data_by_sum_views = cg.info_category()
result_data_by_sum_views['sum_views'] = stats['sum_views']
result_data_by_sum_views = result_data_by_sum_views.sort_values(by='sum_views', ascending=False)
result_data_by_sum_views['rank'] = np.array(range(1,19))
result_data_by_sum_views = result_data_by_sum_views.sort_values(by='category_ID')
result_data_by_sum_views

                    category_TITLE   sum_views  rank
category_ID
1                 Film & Animation   598235933     6
2                 Autos & Vehicles    35618600    13
10                           Music  2651291836     1
15                  Pets & Animals    32050554    15
17                          Sports  1366663953     3
19                 Travel & Events     5280316    16
20                          Gaming   267110237     9
22                  People & Blogs   878483088     5
23                          Comedy   955594121     4
24                   Entertainment  2590088614     2
25                 News & Politics   363101380     7
26                   Howto & Style   335349083     8
27                       Education    70614941    11
28            Science & Technology   208751019    10
29           Nonprofits & Activism    34605887    14
30                          Movies     1011413    17
43                           Shows    49581819    12
44                        Trailers        9804    18

In [47]:
rs.calc(result_data_by_sum_views, 'rank',cg.kedooRank(language),language,2)
result_data_by_sum_views

                    category_TITLE   sum_views  rank  reliability_2
category_ID
1                 Film & Animation   598235933     6      92.307692
2                 Autos & Vehicles    35618600    13      80.000000
10                           Music  2651291836     1     100.000000
15                  Pets & Animals    32050554    15      83.333333
17                          Sports  1366663953     3      33.333333
19                 Travel & Events     5280316    16      84.615385
20                          Gaming   267110237     9      64.285714
22                  People & Blogs   878483088     5      86.666667
23                          Comedy   955594121     4      83.333333
24                   Entertainment  2590088614     2     100.000000
25                 News & Politics   363101380     7      66.666667
26                   Howto & Style   335349083     8      90.909091
27                       Education    70614941    11      70.000000
28            Science & Technology   208751019    10      81.818182
29           Nonprofits & Activism    34605887    14      92.857143
30                          Movies     1011413    17     100.000000
43                           Shows    49581819    12      73.333333
44                        Trailers        9804    18     100.000000

In [52]:
result_data_by_sum_views = rs.resultType(result_data_by_sum_views, 'rank','category_TITLE','sum_views','reliability_2')

KeyError: 'rank'

In [66]:
print("국가 :",nation, ", 언어 :",language)
print("analysis by sum_views, reliability_2")
print("전체 신뢰성 :",round(np.mean(result_data_by_sum_views['Reliability(%)']),2),"(%)")
result_data_by_sum_views

국가 : FR , 언어 : French
analysis by sum_views, reliability_2
전체 신뢰성 : 82.41 (%)

                   Category       Score  Reliability(%)
Rank
1                     Music  2651291836          100.00
2             Entertainment  2590088614          100.00
3                    Sports  1366663953           33.33
4                    Comedy   955594121           83.33
5            People & Blogs   878483088           86.67
6          Film & Animation   598235933           92.31
7           News & Politics   363101380           66.67
8             Howto & Style   335349083           90.91
9                    Gaming   267110237           64.29
10     Science & Technology   208751019           81.82
11                Education    70614941           70.00
12                    Shows    49581819           73.33
13         Autos & Vehicles    35618600           80.00
14    Nonprofits & Activism    34605887           92.86
15           Pets & Animals    32050554           83.33
16          Travel & Events     5280316           84.62
17                   Movies     1011413          100.00
18                 Trailers        9804          100.00

In [51]:
np.mean(result_data_by_sum_views['Reliability(%)'])

82.41499999999999

In [57]:
result_data_by_mean_views = cg.info_category()
result_data_by_mean_views['mean_views'] = stats['mean_views']
result_data_by_mean_views = result_data_by_mean_views.sort_values(by='mean_views', ascending=False)
result_data_by_mean_views['rank'] = np.array(range(1,19))
result_data_by_mean_views

                    category_TITLE    mean_views  rank
category_ID
10                           Music  1.125336e+06     1
43                           Shows  5.219139e+05     2
17                          Sports  4.023150e+05     3
28            Science & Technology  3.976210e+05     4
23                          Comedy  3.728420e+05     5
1                 Film & Animation  3.634483e+05     6
24                   Entertainment  3.438323e+05     7
29           Nonprofits & Activism  3.327489e+05     8
20                          Gaming  2.473243e+05     9
22                  People & Blogs  1.911408e+05    10
26                   Howto & Style  1.783772e+05    11
15                  Pets & Animals  1.643618e+05    12
27                       Education  1.270053e+05    13
25                 News & Politics  1.183898e+05    14
30                          Movies  1.011413e+05    15
2                 Autos & Vehicles  6.078259e+04    16
19                 Travel & Events  5.558227e+04    17
44                        Trailers  9.804000e+03    18

In [60]:
result_data_by_mean_views = result_data_by_mean_views.sort_values(by='category_ID')
rs.calc(result_data_by_mean_views, 'rank',cg.kedooRank(language),language,2)
result_data_by_mean_views

                    category_TITLE    mean_views  rank  reliability_2
category_ID
1                 Film & Animation  3.634483e+05     6      92.307692
2                 Autos & Vehicles  6.078259e+04    16      50.000000
10                           Music  1.125336e+06     1     100.000000
15                  Pets & Animals  1.643618e+05    12      91.666667
17                          Sports  4.023150e+05     3      33.333333
19                 Travel & Events  5.558227e+04    17      76.923077
20                          Gaming  2.473243e+05     9      64.285714
22                  People & Blogs  1.911408e+05    10      53.333333
23                          Comedy  3.728420e+05     5      91.666667
24                   Entertainment  3.438323e+05     7      68.750000
25                 News & Politics  1.183898e+05    14      55.555556
26                   Howto & Style  1.783772e+05    11      63.636364
27                       Education  1.270053e+05    13      50.000000
28            Science & Technology  3.976210e+05     4      27.272727
29           Nonprofits & Activism  3.327489e+05     8      50.000000
30                          Movies  1.011413e+05    15      87.500000
43                           Shows  5.219139e+05     2       6.666667
44                        Trailers  9.804000e+03    18     100.000000

In [61]:
result_data_by_mean_views = rs.resultType(result_data_by_mean_views, 'rank','category_TITLE','mean_views','reliability_2')

In [65]:
print("국가 :",nation, ", 언어 :",language)
print("analysis by mean_views, reliability_2")
print("전체 신뢰성 :",round(np.mean(result_data_by_mean_views['Reliability(%)']),2),"(%)")
result_data_by_mean_views

국가 : FR , 언어 : French
analysis by mean_views, reliability_2
전체 신뢰성 : 64.61 (%)

                   Category         Score  Reliability(%)
Rank
1                     Music  1.125336e+06          100.00
2                     Shows  5.219139e+05            6.67
3                    Sports  4.023150e+05           33.33
4      Science & Technology  3.976210e+05           27.27
5                    Comedy  3.728420e+05           91.67
6          Film & Animation  3.634483e+05           92.31
7             Entertainment  3.438323e+05           68.75
8     Nonprofits & Activism  3.327489e+05           50.00
9                    Gaming  2.473243e+05           64.29
10           People & Blogs  1.911408e+05           53.33
11            Howto & Style  1.783772e+05           63.64
12           Pets & Animals  1.643618e+05           91.67
13                Education  1.270053e+05           50.00
14          News & Politics  1.183898e+05           55.56
15                   Movies  1.011413e+05           87.50
16         Autos & Vehicles  6.078259e+04           50.00
17          Travel & Events  5.558227e+04           76.92
18                 Trailers  9.804000e+03          100.00

In [44]:
result_data_by_count_videos = cg.info_category()
result_data_by_count_videos['count_videos'] = stats['count_videos']
result_data_by_count_videos = result_data_by_count_videos.sort_values(by='count_videos', ascending=False)
result_data_by_count_videos['rank'] = np.array(range(1,19))
result_data_by_count_videos

                    category_TITLE  count_videos  rank
category_ID
24                   Entertainment          7533     1
22                  People & Blogs          4596     2
17                          Sports          3397     3
25                 News & Politics          3067     4
23                          Comedy          2563     5
10                           Music          2356     6
26                   Howto & Style          1880     7
1                 Film & Animation          1646     8
20                          Gaming          1080     9
2                 Autos & Vehicles           586    10
27                       Education           556    11
28            Science & Technology           525    12
15                  Pets & Animals           195    13
29           Nonprofits & Activism           104    14
19                 Travel & Events            95    15
43                           Shows            95    16
30                          Movies            10    17
44                        Trailers             1    18

In [67]:
result_data_by_count_videos = result_data_by_count_videos.sort_values(by='category_ID')
rs.calc(result_data_by_count_videos, 'rank',cg.kedooRank(language),language,2)
result_data_by_count_videos

                    category_TITLE  count_videos  rank  reliability_2
category_ID
1                 Film & Animation          1646     8      76.923077
2                 Autos & Vehicles           586    10      90.000000
10                           Music          2356     6      70.588235
15                  Pets & Animals           195    13     100.000000
17                          Sports          3397     3      33.333333
19                 Travel & Events            95    15      92.307692
20                          Gaming          1080     9      64.285714
22                  People & Blogs          4596     2      93.333333
23                          Comedy          2563     5      91.666667
24                   Entertainment          7533     1      93.750000
25                 News & Politics          3067     4      33.333333
26                   Howto & Style          1880     7     100.000000
27                       Education           556    11      70.000000
28            Science & Technology           525    12     100.000000
29           Nonprofits & Activism           104    14      92.857143
30                          Movies            10    17     100.000000
43                           Shows            95    16     100.000000
44                        Trailers             1    18     100.000000

In [68]:
result_data_by_count_videos = rs.resultType(result_data_by_count_videos, 'rank','category_TITLE','count_videos','reliability_2')

In [69]:
print("국가 :",nation, ", 언어 :",language)
print("analysis by count_videos, reliability_2")
print("전체 신뢰성 :",round(np.mean(result_data_by_count_videos['Reliability(%)']),2),"(%)")
result_data_by_count_videos

국가 : FR , 언어 : French
analysis by count_videos, reliability_2
전체 신뢰성 : 83.47 (%)

                   Category  Score  Reliability(%)
Rank
1             Entertainment   7533           93.75
2            People & Blogs   4596           93.33
3                    Sports   3397           33.33
4           News & Politics   3067           33.33
5                    Comedy   2563           91.67
6                     Music   2356           70.59
7             Howto & Style   1880          100.00
8          Film & Animation   1646           76.92
9                    Gaming   1080           64.29
10         Autos & Vehicles    586           90.00
11                Education    556           70.00
12     Science & Technology    525          100.00
13           Pets & Animals    195          100.00
14    Nonprofits & Activism    104           92.86
15          Travel & Events     95           92.31
16                    Shows     95          100.00
17                   Movies     10          100.00
18                 Trailers      1          100.00

In [45]:
result_data_by_sum_trending_dates = cg.info_category()
result_data_by_sum_trending_dates['sum_trending_dates'] = stats['sum_trending_dates']
result_data_by_sum_trending_dates = result_data_by_sum_trending_dates.sort_values(by='sum_trending_dates', ascending=False)
result_data_by_sum_trending_dates['rank'] = np.array(range(1,19))
result_data_by_sum_trending_dates

                    category_TITLE  sum_trending_dates  rank
category_ID
24                   Entertainment                9738     1
22                  People & Blogs                5668     2
23                          Comedy                4299     3
17                          Sports                4297     4
10                           Music                3906     5
25                 News & Politics                3731     6
26                   Howto & Style                2345     7
1                 Film & Animation                2146     8
20                          Gaming                1445     9
28            Science & Technology                 792    10
27                       Education                 757    11
2                 Autos & Vehicles                 667    12
15                  Pets & Animals                 237    13
19                 Travel & Events                 117    14
29           Nonprofits & Activism                 114    15
43                           Shows                  98    16
30                          Movies                  11    17
44                        Trailers                   2    18

In [70]:
result_data_by_sum_trending_dates= result_data_by_sum_trending_dates.sort_values(by='category_ID')
rs.calc(result_data_by_sum_trending_dates, 'rank',cg.kedooRank(language),language,2)
result_data_by_sum_trending_dates

                    category_TITLE  sum_trending_dates  rank  reliability_2
category_ID
1                 Film & Animation                2146     8      76.923077
2                 Autos & Vehicles                 667    12      90.000000
10                           Music                3906     5      76.470588
15                  Pets & Animals                 237    13     100.000000
17                          Sports                4297     4      44.444444
19                 Travel & Events                 117    14     100.000000
20                          Gaming                1445     9      64.285714
22                  People & Blogs                5668     2      93.333333
23                          Comedy                4299     3      75.000000
24                   Entertainment                9738     1      93.750000
25                 News & Politics                3731     6      55.555556
26                   Howto & Style                2345     7     100.000000
27                       Education                 757    11      70.000000
28            Science & Technology                 792    10      81.818182
29           Nonprofits & Activism                 114    15     100.000000
30                          Movies                  11    17     100.000000
43                           Shows                  98    16     100.000000
44                        Trailers                   2    18     100.000000

In [71]:
result_data_by_sum_trending_dates = rs.resultType(result_data_by_sum_trending_dates, 'rank','category_TITLE','sum_trending_dates','reliability_2')

In [72]:
print("국가 :",nation, ", 언어 :",language)
print("analysis by sum_trending_dates, reliability_2")
print("전체 신뢰성 :",round(np.mean(result_data_by_sum_trending_dates['Reliability(%)']),2),"(%)")
result_data_by_sum_trending_dates

국가 : FR , 언어 : French
analysis by sum_trending_dates, reliability_2
전체 신뢰성 : 84.53 (%)

                   Category  Score  Reliability(%)
Rank
1             Entertainment   9738           93.75
2            People & Blogs   5668           93.33
3                    Comedy   4299           75.00
4                    Sports   4297           44.44
5                     Music   3906           76.47
6           News & Politics   3731           55.56
7             Howto & Style   2345          100.00
8          Film & Animation   2146           76.92
9                    Gaming   1445           64.29
10     Science & Technology    792           81.82
11                Education    757           70.00
12         Autos & Vehicles    667           90.00
13           Pets & Animals    237          100.00
14          Travel & Events    117          100.00
15    Nonprofits & Activism    114          100.00
16                    Shows     98          100.00
17                   Movies     11          100.00
18                 Trailers      2          100.00